<div class="page">
  <div class="box">
    <div class="bg">
      <h1>Términos y Condiciones de Uso de MindBoard</h1>
      <div>
        Bienvenido/a a MindBoard, una aplicación web diseñada para la
        organización de trabajos creativos, ofreciendo una experiencia agradable
        y adaptable para sus usuarios. Al acceder y utilizar MindBoard, usted
        acepta cumplir con los siguientes términos y condiciones. Por favor,
        léalos detenidamente.
      </div>
      <h2>1. Aceptación de los Términos</h2>
      <div>
        Al registrarse, acceder o utilizar MindBoard, usted reconoce haber
        leído, entendido y aceptado estos Términos y Condiciones, así como
        nuestra Política de Privacidad. Si no está de acuerdo con alguna parte
        de estos términos, no debe utilizar MindBoard.
      </div>
      <h2>2. Descripción del Servicio</h2>
      <div>
        MindBoard es una herramienta de organización personal que permite a los
        usuarios gestionar y estructurar sus trabajos creativos. La plataforma
        busca ofrecer un espacio único y personalizable para la organización.
        Las funcionalidades incluyen, pero no se limitan a, la creación de
        tableros, organización de elementos mediante "drag and drop", gestión de
        proyectos y personalización de la experiencia del usuario.
      </div>

      <h2>3. Registro y Cuentas de Usuario</h2>
      <ul>
        <li>
          Para acceder a las funcionalidades de MindBoard, es imprescindible que se
          efectue el registro de una cuenta.
        </li>
        <li>
          Usted se compromete a proporcionar información veraz, precisa, actual
          y completa durante el proceso de registro.
        </li>
        <li>
          Es su responsabilidad mantener la confidencialidad de su contraseña y
          de toda actividad que ocurra bajo su cuenta.
        </li>
        <li>
          Debe notificarnos inmediatamente cualquier uso no autorizado de su
          cuenta o cualquier otra violación de seguridad.
        </li>
      </ul>

      <h2>4. Uso Permitido</h2>
      <ul>
        <li>
          Usted acepta utilizar MindBoard únicamente con fines lícitos y de
          manera que no infrinja los derechos de, restrinja o impida el uso y
          disfrute de MindBoard por parte de terceros.
        </li>
        <li>
          No debe realizar ninguna acción que pueda dañar, deshabilitar,
          sobrecargar o perjudicar el funcionamiento de MindBoard o las redes
          conectadas a MindBoard.
        </li>
        <li>
          El uso de MindBoard para la creación, almacenamiento o difusión de
          contenido ilegal, ofensivo, difamatorio, obsceno o que viole derechos
          de terceros (incluidos derechos de propiedad intelectual) está
          estrictamente prohibido.
        </li>
      </ul>

      <h2>5. Contenido del Usuario</h2>
      <ul>
        <li>
          Usted conserva todos los derechos sobre el contenido que cree, cargue,
          publique, envíe o muestre en o a través de MindBoard.
        </li>
      </ul>

      <h2>6. Propiedad Intelectual</h2>
      <div>
        Todo el contenido y materiales disponibles en MindBoard, incluyendo, sin
        limitación, textos, gráficos, logotipos, iconos, imágenes, clips de
        audio, descargas digitales, compilaciones de datos y software, son
        propiedad de MindBoard o de sus licenciantes y están protegidos por
        leyes de propiedad intelectual.
        <br />
        MindBoard se basa en tecnologías y herramientas como Angular, Firebase,
        CoreUI, entre otras, y respeta las licencias y términos de uso de dichas
        herramientas.
      </div>

      <h2>7. Limitación de Responsabilidad</h2>
      <ul>
        <li>
          MindBoard se proporciona "tal cual" y "según disponibilidad", sin
          garantías de ningún tipo, ya sean expresas o implícitas.
        </li>
        <li>
          MindBoard no garantiza que el servicio sea ininterrumpido, seguro,
          libre de errores o que los defectos serán corregidos.
        </li>
        <li>
          En ningún caso MindBoard, sus directores, empleados o agentes serán
          responsables de daños directos, indirectos, incidentales, especiales,
          consecuentes o punitivos, incluyendo sin limitación, pérdida de
          beneficios, datos, uso, fondo de comercio u otras pérdidas
          intangibles, resultantes de (i) su acceso o uso o incapacidad de
          acceder o usar MindBoard; (ii) cualquier conducta o contenido de
          terceros en MindBoard; (iii) cualquier contenido obtenido de
          MindBoard; y (iv) acceso no autorizado, uso o alteración de sus
          transmisiones o contenido, ya sea basado en garantía, contrato,
          agravio (incluyendo negligencia) o cualquier otra teoría legal,
          hayamos sido o no informados de la posibilidad de tales daños.
        </li>
      </ul>

      <h2>8. Modificaciones de los Términos</h2>
      <div>
        MindBoard se reserva el derecho, a su sola discreción, de modificar o
        reemplazar estos Términos en cualquier momento. Si una revisión es
        material, haremos esfuerzos razonables para proporcionar un aviso con al
        menos 30 días de antelación antes de que los nuevos términos entren en
        vigor. Lo que constituye un cambio material se determinará a nuestra
        sola discreción.
      </div>

      <h2>9. Ley Aplicable y Jurisdicción</h2>
      <div>
        Estos Términos se regirán e interpretarán de acuerdo con las leyes de
        España, sin tener en cuenta sus disposiciones sobre conflicto de leyes.
        Cualquier disputa que surja en relación con estos Términos será sometida
        a la jurisdicción exclusiva de los tribunales de Valencia, España.
      </div>

      <h2>10. Contacto</h2>
      <div>
        Si tiene alguna pregunta sobre estos Términos, por favor contáctenos a
        través de los canales de soporte disponibles en MindBoard.
      </div>
    </div>
  </div>
</div>
