<div class="page">
  <div class="box">
    <div class="bg">
      <h1>Contacto</h1>
      <div>
        Si tienes preguntas, sugerencias o necesitas asistencia técnica
        relacionada con el uso de MindBoard, estaremos encantados de ayudarte.
        Puedes escribirnos directamente mediante este formulario:
      </div><br>

      <form action="">
        <div>
          <label>Nombre completo</label>
          <input type="text" id="name" name="name" required />
        </div>

        <div>
          <label>Correo electrónico</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div>
          <label>Asunto</label>
          <input type="text" id="theme" name="theme" required />
        </div>

        <div>
          <label>Mensaje</label>
          <textarea id="message" name="message" required></textarea>
        </div>

        <button type="submit">Enviar</button>
      </form>

      <h2>También puedes escribirnos</h2>
      <ul>
        <li><strong>Email:</strong> mindBoardApp&#64;gmail.com</li>
      </ul>

      <div>
        Nuestro equipo de soporte responderá a tu consulta lo antes posible,
        generalmente dentro de 24 a 48 horas hábiles.
      </div>
    </div>
  </div>
</div>
