<div>
  @if(type == 'postit'){
  <div class="modal">
    <h3>¡Un nuevo post-it!</h3>
    <input #inputTexto type="text" placeholder="Escribe aquí" />
    <label>
      Selecciona el color del post-it:
      <select name="colors" id="colors" #colorSelect>
        @if (colors.length > 0) { @for (color of colors; track color.fillHex) {
        <option
          [value]="color['fillHex']"
          [style.background]="color['fillHex']"
          [style.color]="color['fontHex']"
        >
          {{ color["fillHex"] }}
        </option>
        } } @else {
        <option value="blue">Azul</option>
        <option value="pink">Rosa</option>
        <option value="yellow">Amarillo</option>
        <option value="white">Blanco</option>
        <option value="black">Negro</option>
        }
      </select>
    </label>
    <button (click)="onGuardar(inputTexto.value, colorSelect.value)">
      Guardar
    </button>
    <button (click)="close.emit()">Cancelar</button>
  </div>
  } @if(type == 'list'){
  <div class="modal">
    <h3>¡Una nueva lista!</h3>
    <div>
      ¡Recuerda! Cada salto de línea es un nuevo check, tenlo en cuenta.
    </div>
    <textarea
      #inputTexto
      type="text"
      placeholder="¡Rellena tu lista!"
    ></textarea>
    <label>
      Selecciona el tipo de papel:
      <select name="colors" id="colors" #colorSelect>
        @if (colors.length > 0) { @for (color of colors; track color.fillHex) {
        <option
          [value]="color['fillHex']"
          [style.background]="color['fillHex']"
          [style.color]="color['fontHex']"
        >
          {{ color["fillHex"] }}
        </option>
        } } @else {
        <option value="#52DFD9">Azul</option>
        <option value="#D1DF52">Rosa</option>
        <option value="#DF52CF">Amarillo</option>
        <option value="#F5EEF4">Blanco</option>
        <option value="#242324">Negro</option>
        }
      </select>
    </label>
    <button (click)="onGuardar(inputTexto.value, colorSelect.value)">
      Guardar
    </button>
    <button (click)="close.emit()">Cancelar</button>
  </div>
  } @if(type == 'sticker'){
  <div class="modal">
    <h3>¡Decora tu tablero!</h3>
    <div>Elige el sticker que desees agregar a tu tablero</div>
    <div class="select">
      @for (sticker of stickers; track $index) {
      <div class="option" (click)="onGuardar(sticker.url, sticker.name)">
        <img src="{{ sticker.url }}" alt="{{ sticker.name }}" class="sticker" />
      </div>
      }
    </div>
    <button (click)="close.emit()">Cancelar</button>
  </div>
  }
</div>
