@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&display=swap");

$primary-color:rgb(96, 70, 48);
$secondary-color: rgb(197, 168, 139);
$secondary-color-hover:rgb(158, 133, 108);

@mixin flex($type, $content, $items) {
  display: flex;
  flex-direction: $type;
  justify-content: $content;
  align-items: $items;
}

button {
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;
  border: none;
  background-color: $secondary-color;
  color: rgb(40, 38, 39);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  &:hover{
    background-color: $secondary-color-hover;
    cursor: pointer;
  }
}
