<div class="board">
  @for (element of elements(); track element.date) {
  <div class="arrastrable {{ element.color }}" cdkDrag cdkDragBoundary=".board">
    <div class="content">
      <button class="deleteBtn" (click)="delete(element.key!)">
        <img src="assets/images/pin.png" alt="delete" />
      </button>
      <div class="text">
        {{ element.text }}
      </div>
    </div>
  </div>
  }
</div>
<app-calendar />

<div class="select">
  <div class="title">¡Añade elementos a tu tablero!</div>
  <button (click)="openModal()">Añadir caja</button>
  <button [routerLink]="['/home']">Volver a Home</button>
  @if (showModal) {
  <app-modal (cerrar)="closeModal()" (guardar)="createElement($event)">
  </app-modal>
  }
</div>
