@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&display=swap");
@import "@coreui/coreui/scss/coreui";

@mixin flex($type, $content, $items) {
  display: flex;
  flex-direction: $type;
  justify-content: $content;
  align-items: $items;
}

.select {
  background-color: var(--box-color);
  padding: 2em;
  button {
    border: none;
  }
}

.title {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-size: 3vh;
  color: var(--title-color);
}

.postit {
  @include flex(column, center, center);
}

.blue {
  padding: 1em;
  background-color: var(--postit-one);
}
.yellow {
  padding: 1em;

  background-color: var(--postit-two);
}
.pink {
  padding: 1em;
  background-color: var(--postit-three);
}

.white {
  padding: 1em;
  background-color: var(--postit-four);
}

.black {
  padding: 1em;
  background-color: var(--postit-five);
  color: white;
}

.arrastrable {
  border-radius: 1em;
  width: 200px;
  height: 200px;
  cursor: grab;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.arrastrable:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.board {
  width: auto;
  margin: 0.5em 1.5em 1.5em 1.5em;
  height: 40em;
  max-width: 100%;
  border-radius: 1em;
  border: solid rgb(89, 68, 50) 1em;
  background-image: url("/assets/images/corkboard.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: rgb(52, 51, 50);
}

.btn {
  font-weight: bolder;
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;
  border: none;
  background-color: var(--secondary-color);
  color: rgb(40, 38, 39);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: var(--secondary-color-hover);
    color: white;
    cursor: pointer;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.deleteBtn {
  border: none;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  background: none;
  box-shadow: none;
  padding: 0;
  z-index: 2;

  img {
    height: 1.8em;
    width: 1.8em;
  }

  &:hover {
    background: none;
  }
}

.text {
  height: 100%;
  width: 100%;
  padding: 0.5em 0.2em 0.2em 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  font-size: 1em;
  z-index: 1;
}

.offcanvas {
  background-color: var(--primary-color);
  h5 {
    color: var(--secondary-color);
    font-weight: bold;
  }
}

.fixed-material-button {
  width: 100%;
  margin-left: 1.5em;
}

.list{
  @include flex(column, space-around, start);
}
