<div>
  <div class="buttons-container">
    <div>
      <button cButton cOffcanvasToggle="OffcanvasStart" class="btn">
        Abrir caja de materiales
      </button>
      <button (click)="deleteMode = !deleteMode" class="btn">
        {{ deleteMode ? "Cancelar" : "Eliminar elementos" }}
      </button>
      <button (click)="editMode = !editMode" class="btn">
        {{ editMode ? "Cancelar" : "Editar elementos" }}
      </button>
    </div>
    <button [routerLink]="['/home']" class="btn">Volver a Home</button>
  </div>

  <c-offcanvas placement="start" id="OffcanvasStart" class="offcanvas">
    <c-offcanvas-header>
      <h5 cOffcanvasTitle>Caja de materiales</h5>
      <button
        cButtonClose
        class="text-reset ms-auto"
        cOffcanvasToggle="OffcanvasStart"
        aria-label="Close"
      ></button>
    </c-offcanvas-header>
    <c-offcanvas-body>
      <button (click)="openModal('postit')" class="btn">Post-its</button>
      <button (click)="openModal('list')" class="btn">Listas</button>
      <button (click)="openModal('sticker')" class="btn">Stickers</button>
      @if (showModal === 'postit') {
      <app-modal
        [type]="'postit'"
        (close)="closeModal()"
        (save)="createElement($event, 'postit')"
      >
      </app-modal>
      } @if (showModal === 'list') {
      <app-modal
        [type]="'list'"
        (close)="closeModal()"
        (save)="createElement($event, 'list')"
      >
      </app-modal>
      } @if (showModal === 'sticker') {
      <app-modal
        [type]="'sticker'"
        (close)="closeModal()"
        (save)="createElement($event, 'sticker')"
      >
      </app-modal>
      }
    </c-offcanvas-body>
  </c-offcanvas>

  <div class="board">
    @for (element of postits(); track element.date) {
    <div
      class="arrastrable paper-content arrastrable-transition {{
        element.color
      }}"
      cdkDrag
      cdkDragBoundary=".board"
      [class.sticker-deletable]="deleteMode"
      (click)="deleteMode ? delete(element.key!, element.type) : null"
    >
      <div class="content">
        <div class="text">
          {{ element.text }}
        </div>
      </div>
    </div>
    } @for (element of lists(); track element.date) {
    <div
      class="arrastrable paper-content arrastrable-transition {{
        element.color
      }}"
      cdkDrag
      cdkDragBoundary=".board"
      [class.sticker-deletable]="deleteMode"
      [class.board-editable]="editMode"
      (click)="deleteMode ? delete(element.key!, element.type) : null"
    >
      <div class="content">
        <div class="text list">
          @for(text of element.text; track $index){
          <label for="checkbox">
            <input type="checkbox" />
            {{ text }}
          </label>
          } @if(editMode==true){
          <button
            (click)="startEditing(element.key!, element.text, element.color)"
          >
            Editar
          </button>
          @if(editingElementKey === element.key){
          <div class="edit">
            <div class="title">Edita la lista</div>
            <div>
              ¿Te has equivocado? No te preocupes, cambia los datos que desees
            </div>
            <div>
              ¡Recuerda! Cada salto de línea es un nuevo check, tenlo en cuenta.
            </div>
            <textarea
              #inputTexto
              type="text"
              placeholder="¡Rellena tu lista!"
            ></textarea>
            <label>
              Selecciona el tipo de papel:
              <select name="colors" id="colors" #colorSelect>
                <option value="white">Blanco</option>
                <option value="black">Negro</option>
                <option value="beige">Beige</option>
              </select>
            </label>
            <button (click)="editELement([inputTexto.value,colorSelect.value],element.key!,'list')">Guardar</button>
          </div>
          } }
        </div>
      </div>
    </div>
    } @for (element of stickers(); track $index) {
    <div
      class="arrastrable"
      cdkDrag
      cdkDragBoundary=".board"
      [class.sticker-deletable]="deleteMode"
      (click)="deleteMode ? delete(element.key!, element.type) : null"
    >
      <div class="content">
        <img src="{{ element.url }}" alt="{{ element.name }}" class="sticker" />
      </div>
    </div>
    }
  </div>
</div>
