<div class="board">
  @for (element of elements(); track element.date) {
  <div class="arrastrable {{ element.color }}" cdkDrag cdkDragBoundary=".board">
    <div class="content">
      <button class="deleteBtn" (click)="delete(element.key!, element.type)">
        <img src="assets/images/pin.png" alt="delete" />
      </button>
      <div class="text">
        {{ element.text }}
      </div>
    </div>
  </div>
  }
</div>
<app-calendar />

<div class="select">
  <div class="title">¡Añade elementos a tu tablero!</div>
  <button [routerLink]="['/home']" class="btn">Volver a Home</button>
  <button cButton cOffcanvasToggle="OffcanvasStart" class="btn">
    Abrir caja de materiales
  </button>

  <c-offcanvas placement="start" id="OffcanvasStart" class="offcanvas">
    <c-offcanvas-header>
      <h5 cOffcanvasTitle>Caja de materiales</h5>
      <button
        cButtonClose
        class="text-reset ms-auto"
        cOffcanvasToggle="OffcanvasStart"
        aria-label="Close"
      ></button>
    </c-offcanvas-header>
    <c-offcanvas-body>
      <button (click)="openModal('postit')" class="btn">Post-its</button>
      @if (showModal === 'postit') {
      <app-modal
        [type]="'postit'"
        (close)="closeModal()"
        (save)="createElement($event, 'postit')"
      >
      </app-modal>
      }
      <button (click)="openModal('list')" class="btn">Listas</button>
      @if (showModal === 'list') {
      <app-modal
        [type]="'list'"
        (close)="closeModal()"
        (save)="createElement($event, 'list')"
      >
      </app-modal>
      }
    </c-offcanvas-body>
  </c-offcanvas>
</div>
