@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&display=swap");

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2em;
  a{
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
  }
}
