@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&display=swap");

$primary-color: rgb(96, 70, 48);
$secondary-color: rgb(197, 168, 139);
$secondary-color-hover: rgb(158, 133, 108);
$postit-one: rgba(82, 223, 209, 0.866);
$postit-two: rgba(209, 223, 82, 0.866);
$postit-three: rgba(223, 82, 207, 0.866);
$title-color: rgb(39, 30, 23);
$box-color: rgba(96, 70, 48, 0.755);

@mixin flex($type, $content, $items) {
  display: flex;
  flex-direction: $type;
  justify-content: $content;
  align-items: $items;
  text-align: center;
}

.board {
  background-image: url("images/fondoCorcho.jpg");
  background-size: cover;
  background-position: center;
  @include flex(column, space-around,center);
  padding-left: 6em;
  padding-right: 6em;
  height: 100%;

  button {
    margin: 1em;
    border-radius: 1em;
    border: none;
    padding: 1em;
  }

  .boardsContainer{
    padding: 2em;
    @include flex(column, center, center);
    gap: 1em;
  }

  .boards{
    @include flex(row, center, center);
    gap: 2em;
  }

  .title {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 3vh;
    color: $title-color;
  }

  .postit {
    @include flex(column, center, center);
  }

  .blue{
    padding: 1em;
    background-color: $postit-one;
  }
  .yellow {
    padding: 1em;
    background-color: $postit-two;
  }
  .pink {
    padding: 1em;
    background-color: $postit-three;
  }


}

