@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&display=swap");

@mixin flex($type, $content, $items) {
  display: flex;
  flex-direction: $type;
  justify-content: $content;
  align-items: $items;
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .top-part {
    height: 40%;
    @include flex(column, center, center);
  }

  .cards {
    @include flex(row, center, center);
    gap: 4em;
    .card {
      border-radius: 1em;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: var(--secondary-color);
      cursor: pointer;
    }
  }

  .header {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  button {
    margin: 1em;
    border-radius: 1em;
    border: none;
    padding: 1em;
  }

  .boardsContainer {
    width: 100%;
    height: 60%;
    padding: 2em;
    background-image: url("/assets/images/corkboard.jpg");
    background-size: cover;
    background-position: center;
    @include flex(column, center, center);
    gap: 1em;
  }

  .boards {
    @include flex(row, center, center);
    gap: 2em;
  }

  .title {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 3vh;
    color: var(--title-color);
  }

  .postit {
    padding: 2em;
    @include flex(column, center, center);
  }

  .white {
    background-color: var(--postit-four);
  }
  .blue {
    background-color: var(--postit-one);
  }
}

.board-deletable {
  border: 2px dashed crimson;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 8px;
  padding: 4px;
}

.board-deletable:hover {
  background-color: #ffeaea;
  transform: scale(1.03);
}
