@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&display=swap");

* {
  font-family: "Cal Sans", sans-serif;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(216, 209, 196);
}

:root{
--primary-color: rgb(96, 70, 48);
--secondary-color: rgb(197, 168, 139);
--secondary-color-hover: rgb(158, 133, 108);
--postit-one: rgba(82, 223, 209, 0.866);
--postit-two: rgba(209, 223, 82, 0.866);
--postit-three: rgba(223, 82, 207, 0.866);
--postit-four: rgba(245, 238, 244, 0.866);
--postit-five: rgba(36, 35, 36, 0.866);
--title-color: rgb(39, 30, 23);
--box-color: rgba(96, 70, 48, 0.755);
}


