<div class="page">
  <div class="box">
    <div class="title">Descubre MindBoard</div>
    <div class="organize">
      <div class="postit yellow">
        <div class="subtitle white">¿De qué trata?</div>
        <div>Pincha <a class="highlighted">AQUÍ</a> para saber más sobre MindBoard</div>
      </div>
      <div class="postit pink">
        <div class="subtitle">¡Comienza a crear!</div>
        <div>Crea una cuenta o inicia sesión para poder trabajar en tus tableros</div>
        <button class="btn highlighted" (click)="login()">INICIAR SESIÓN</button>
      </div>
      <div class="postit blue">
        <div class="subtitle">¡Comienza a crear!</div>
        <div>Crea una cuenta o inicia sesión para poder trabajar en tus tableros</div>
      </div>
    </div>
  </div>
</div>
