@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&display=swap");

@mixin flex($type, $content, $items) {
  display: flex;
  flex-direction: $type;
  justify-content: $content;
  align-items: $items;
}

.page {
  @include flex(row, center, center);
  margin: 1em;
  .box {
    @include flex(column, center, center);
    border: solid rgb(89, 68, 50) 1em;
    background-image: url("/assets/images/corkboard.jpg");
    background-size: cover;
    background-position: center;
    padding: 5em;
    width: 75%;

    button {
      background-color: var(--postit-one);
      border: none;
      padding: 1em;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    .organize {
      @include flex(row, space-around, center);
    }

    .title {
      font-family: "Alfa Slab One", serif;
      font-weight: 400;
      font-size: 5vh;
      color: var(--title-color);
    }

    .postit {
      width: 10em;
      aspect-ratio: 1 / 1;
      padding: 1em;
      @include flex(column, space-around, center);
      box-sizing: border-box;
      margin: 1em;
      width: 30vh;
    }

    .yellow {
      background-color: var(--postit-two);
    }
    .pink {
      background-color: var(--postit-three);
    }
    .blue {
      background-color: var(--postit-one);
    }

    .white {
      background-color: var(--postit-four);
    }

    .highlighted {
      background-color: var(--postit-one);
      font-weight: bolder;
      cursor: pointer;
    }
  }
}
