@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&display=swap");

$primary-color: rgb(96, 70, 48);
$secondary-color: rgb(197, 168, 139);
$secondary-color-hover: rgb(158, 133, 108);
$postit-one: rgba(82, 223, 209, 0.866);
$postit-two: rgba(209, 223, 82, 0.866);
$postit-three: rgba(223, 82, 207, 0.866);
$postit-four: rgba(245, 238, 244, 0.866);
$postit-five: rgba(36, 35, 36, 0.866);
$title-color: rgb(39, 30, 23);
$box-color: rgba(96, 70, 48, 0.755);

@mixin flex($type, $content, $items) {
  display: flex;
  flex-direction: $type;
  justify-content: $content;
  align-items: $items;
}

.page{
  @include flex(row, center, center);
  margin: 1em;
  .box{
     @include flex(column, center, center);
     border: solid rgb(89, 68, 50) 1em;
     background-image: url('images/fondoCorcho.jpg');
     background-size: cover;
     background-position: center;
     padding: 5em;
     width: 75%;

     button{
      background-color:$postit-one;
      border: none;
      padding: 1em;
      padding-top: 2em;
      padding-bottom: 2em;
     }

     .organize{
      @include flex(row, space-around, center);
     }

     .title{
      font-family: "Alfa Slab One", serif;
      font-weight: 400;
      font-size: 5vh;
      color: $title-color;
     }

     .postit {
      width: 10em;
      aspect-ratio: 1 / 1;
      padding: 1em;
      @include flex(column, space-around, center);
      box-sizing: border-box;
      margin:1em;
      width: 30vh;
    }

     .yellow{
      background-color: $postit-two;
     }
     .pink{
      background-color: $postit-three;
     }
     .blue{
      background-color: $postit-one;
     }

     .white{
      background-color: $postit-four;
     }

     .highlighted{
      background-color: $postit-one;
      font-weight: bolder;
      cursor: pointer;
     }

  }
}
